*{
    position: relative;
    font-family: 'Inter', sans-serif;
}

body {
    background: #E5E5E5;
}

header {
    position: absolute;
    top: 35px;
    left: 40px;
}

main {
    display: flex;
    margin-bottom: 80px;
}

.input {
    background: transparent;
    position: absolute;
    color: #0A3871;
    border: none;
    resize: none;
    font-size: 28px;
    width: 577px;
    height: 470px;
    top: 125px;
    left: 200px;
    text-transform: lowercase;
}

textarea:focus{
    outline:none;
}

textarea:disabled{
    background-color: transparent;
}

textarea::placeholder {
    color: #0A3871;
    opacity: 0.8;
}

.texto {
    position: absolute;
    margin: 6px 0;
    color: #495057;
    font-size: 11px;
    top: 651px; 
    left: 200px;
}

.buttons {
    display: flex;
    position: absolute;
    top: 670px;
    left: 200px;
}

.btnEncrypt, .btnDecrypt {
    border-radius: 24px;
    width: 328px;
    height: 67px;
    cursor: pointer;
    font-size: 17px;
}

.btnEncrypt {
    background-color: #0A3871; 
    color: #D8DFE8;
    border: none;
    margin-right: 12px;
}

.btnDecrypt {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color:#0A3871;
    margin-left: 12px;
}

.btnEncrypt:hover, .btnDecrypt:hover, .copiar:hover{
    scale: 1.01;
}

.resultado {
    top: 25px;
    left: 825px;
    padding-left: 15px;
}

.informacion {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    align-items: center;
    top: 110px;
    left: 200px;
}

.muneco { 
    width: 300px;
    height: 268px;
}

.no-mensaje{
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 175px;
}

.ingrese-texto {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #495057;
    width: 205px;
}

.output {
    position: absolute;
    left: 200px;
    background: white;
    border-radius: 24px;
    padding-left: 15px;
    padding-top: 20px;
    border: none;
    resize: none;
    color: #0A3871;
    font-size: 23px;
    width: 325px;
    height: 690px;
    align-items: center;
    text-transform: lowercase;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.output:focus {
    outline: none;
}

.copiar {
    display: none;
    width: 250px;
    height: 55px;
    border-radius: 24px;
    margin-left: 46px;
    margin-top: 640px;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    color: #0A3871;
    border: 1px solid #0A3871;
    left: 186px;
}

.creditos {
    width: 210px;
    height: 25px;
    position: absolute;
    color: #495057;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    top: 755px;
    left: 470px;
}

.ocultar {
    display: none;
}

.mostrar {
    display: block;
} 

/* CSS para celulares */

@media screen and (max-width:480px) {

    .logo {
        position: absolute;
        width: 75px;
        height: 115px;
        top: 25px;
        left: 16px;
    }

    .input {
        width: 671px;
        left: 45px;
        top: 400px;
        font-size: 55px;
    }

    .texto {
        top: 1250px;
        font-size: 25px;
        width: 705px;
        left: 49px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        top: 1295px;
        left: 45px;
    }

    .btnEncrypt, .btnDecrypt {
        font-size: 30px;
        width: 665px;
        height: 120px;
        border-radius: 45px;
    }

    .btnDecrypt {
        margin-left: 0px;
    }

    .resultado {
        top: 1680px;
        left: 45px;
        height: 700px;
        
    }

    .output {
        width: 630px;
        height: 725px;
        left: 5px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.09);
        border-radius: 45px;
        font-size: 42px;
        padding-right: 15px;
    }

    .muneco {
        display: none;
    }

    .informacion {
        width: 192px;
        top: 335px;
    }

    .no-mensaje {
        margin-top: -20px;
        font-size: 40px;
        width: 455px;
    }

    .ingrese-texto {
        font-size: 27px;
        width: 320px;
    }

    .copiar {
        width: 400px;
        height: 105px;
        font-size: 27px;
        left: 114px;
        margin-left: 0px;
        top: -20px;
    }

    .creditos {
        font-size: 23px;
        top: 2500px;
        height: 65px;
        width: 295px;
        left: 210px;
    }

}